
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* يجعل الجسم يغطي ارتفاع الشاشة بالكامل */
    margin: 0;

    
}
.content {
    position: absolute; /* or relative */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    
}
  
  
.cadr{
    background-color: rgb(43, 46, 45);
    height: 360px;
    
    width: 300px;
    
    border-radius: 10px;
}

img{
    position: absolute; /* or relative */
  left: 40%;
  top: 8%;
  

    
    
}


img{
    height: 60px;
    border-radius: 50%;
    
}

h2{
    color: white;
    position: relative;
    text-align: center;
    top: 20%;
}

h4{
    color: yellow;
    font-size: 10px;
    position: relative;
    text-align: center;
    top: 15%;
}

h6{
    position: relative;
    text-align: center;
    top: 13%;
    color: rgb(143, 138, 138);
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

.social a{
    color: white;
    width: 100%;
    background-color: rgb(60, 63, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 20px;
    transition: 1s ease;
}

.social a:hover{
    background-color: rgb(84, 120, 156);

}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: auto; /* يجعل الفوتر دائمًا في أسفل الصفحة */
    padding-bottom: 10px;
}


.name{
    color: yellow;
}